<div id="side-nav-content">
  <div id="azure-logo">
      <img src="assets/img/DevOps.png">
  </div>
  <mat-divider></mat-divider>
  <mat-nav-list class="side-nav-items">
      <a mat-list-item [routerLink]="['home']" routerLinkActive="active">
          <fa-icon icon="th"></fa-icon>Home
      </a>
      <a mat-list-item [routerLink]="['work-items']" routerLinkActive="active">
        <fa-icon icon="th"></fa-icon>Work Items
     </a>
  </mat-nav-list>
  <mat-divider></mat-divider>
  <div id="solution-logo">
      <div id="copyright">© 2020 Abbott Wang LLC. All Rights Reserved.</div>
  </div>
</div>