@import '~@angular/material/theming';
@import './variables';
@include mat-core();
$mat-google-blue: (50 : #e9f0fd,
100 : #c8dafa,
200 : #a4c2f6,
300 : #7faaf2,
400 : #6397f0,
500 : #4885ed,
600 : #417deb,
700 : #3872e8,
800 : #3068e5,
900 : #2155e0,
A100 : #ffffff,
A200 : #e5ecff,
A400 : #b3c5ff,
A700 : #99b2ff,
contrast: (50 : #000000,
100 : #000000,
200 : #000000,
300 : #000000,
400 : #000000,
500 : #ffffff,
600 : #ffffff,
700 : #ffffff,
800 : #ffffff,
900 : #ffffff,
A100 : #000000,
A200 : #000000,
A400 : #000000,
A700 : #000000,
));
$mat-usai-green: (50 : #eef8e6,
100 : #d4efc1,
200 : #b8e497,
300 : #9bd96d,
400 : #85d04e,
500 : #70c82f,
600 : #68c22a,
700 : #5dbb23,
800 : #53b41d,
900 : #41a712,
A100 : #e3ffd8,
A200 : #beffa5,
A400 : #99ff72,
A700 : #87ff58,
contrast: (50 : #000000,
100 : #000000,
200 : #000000,
300 : #000000,
400 : #000000,
500 : #000000,
600 : #000000,
700 : #000000,
800 : #000000,
900 : #ffffff,
A100 : #000000,
A200 : #000000,
A400 : #000000,
A700 : #000000,
));
$usai-primary: mat-palette($mat-google-blue);
$usai-accent: mat-palette($mat-usai-green);
$usai-warn: mat-palette($mat-red);
$usai-theme: mat-light-theme($usai-primary, $usai-accent, $usai-warn);
@include angular-material-theme($usai-theme);